.wrapper {
  display: flex;
  gap: 32px;
  max-width: 35vw;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: #dfdfdf;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }

  .favorite__item {
    cursor: pointer;
    max-width: 150px;
    flex-basis: 25%;
    flex-shrink: 0;

    .img-wrapper {
      position: relative;
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 12px;
    }

    footer {
      font-size: calc(12rem / 16);
      font-weight: var(--font-medium);
      text-align: center;
    }
  }

  @media (max-width: 1580px) {
    max-width: 50vw;
  }

  @media (max-width: 1080px) {
    max-width: 85vw;
  }

  @media (max-width: 680px) {
    .favorite__item {
      max-width: 100px;

      .img-wrapper {
        width: 100px;
        height: 100px;
      }

      footer {
        font-size: calc(10rem / 16);
      }
    }
  }
}
