/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Font and typography ==========*/
  --body-font: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Colors ==========*/
  --bg-color: #f2fbff;
  --bg-color-secondary: #202022;
  --bg-color-icon: #88bac1c5;
  --text-color: #202b5c;
  --text-color-secondary: #bac1c5;
  --text-color-terciary: #302e62;
  --text-color-quaternary: #bdc6d6;
  --white: #fff;
}

* {
  box-sizing: border-box;
  font-family: var(--body-font);
}

html,
body {
  padding: 0;
  margin: 0;
  background: rgb(125, 181, 242);
  background: linear-gradient(90deg, rgba(125, 181, 242, 1) 0%, rgba(126, 181, 242, 1) 100%);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
