.wrapper {
  display: grid;
  place-content: center;
  min-height: 100vh;

  .container {
    display: flex;
    width: 70vw;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;

    .forecast {
      flex: 1 1 60%;
      padding: 48px 52px;
      background-color: var(--bg-color);
      transition: transform 0.5s ease-out;
    }

    .today {
      flex: 1 1 40%;
      display: flex;
      flex-direction: column;
      gap: 60px;
      padding: 48px 52px;
      color: var(--white);
      background-color: var(--bg-color-secondary);
    }
  }

  @media (max-width: 1580px) {
    place-content: revert;

    .container {
      width: 100vw;
      border-radius: revert;
    }
  }

  @media (max-width: 1080px) {
    .container {
      .forecast {
        position: absolute;
        width: 100vw;
        height: 100vh;
        transform: translateX(-100%);
      }
      .visible {
        transform: translateX(0);
      }
    }
  }

  @media (max-width: 680px) {
    .container {
      .forecast {
        padding: 32px 24px;
      }
      .today {
        padding: 32px 24px;
      }
    }
  }
}
