.wrapper {
  display: flex;
  gap: 6px;
  width: 100%;

  .item {
    flex: 1;
    padding: 12px 0;
    font-size: calc(12rem / 16);
    color: var(--text-color-quaternary);
    cursor: pointer;
    text-align: center;

    &:hover {
      font-weight: var(--font-medium);
    }
  }

  .active {
    font-weight: var(--font-medium);
    color: var(--text-color);

    span {
      border-bottom: 2px solid var(--text-color);
      width: fit-content;
    }
  }
}
