.wrapper {
  display: flex;
  gap: 6px;
  width: 100%;
  margin: 24px 0;

  .item {
    flex: 1;
    padding: 12px 0;
    color: var(--text-color-quaternary);
    cursor: pointer;

    &:hover {
      font-weight: var(--font-medium);
    }
  }

  .active {
    position: relative;
    font-weight: var(--font-medium);
    color: var(--text-color);

    &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-200%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--text-color);
    }
  }
}
